@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" style="color: white;">Welcome</h1>
    <p style="color:#fff">Visita mi <a style="color:#fff" href="https://github.com/Jhan242019?tab=repositories" target="_blank">Repositorio en GitHub <i class="	fab fa-github"></i></a>.</p>
</div>
