
<link href="~/css/StyleLogin.css" rel="stylesheet">

<form action="/auth/login" method="post">
    <div class="login-form">
        <div class="box">
            <div class="container">
                <div class="p-2" style="text-align:center;">
                    <img src="/img/user2.png" class="img" accept="image/x-png,image/gif,image/jpeg">
                </div>
                <div class="text-danger">@Html.ValidationMessage("Login")</div>
                <div class="mb-3">
                    <input type="text" class="form-control" name="Username" placeholder="Usuario">
                </div>
                <div class="mb-3">
                    <input type="password" class="form-control" name="Password" placeholder="Password">
                </div>
                @Html.ValidationMessage("Username")
                @Html.ValidationMessage("Password")
                <button class="btn btn-success botonLogin" onclick="loginCorrect()"><i class="fas fa-sign-out-alt"></i> Login</button>
            </div>
        </div>
    </div>
</form>

