@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}
<style>
    .page_404 {
        background: #fff;
        height: 100%;
        background-repeat: no-repeat;
        /*background: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif) no-repeat center center fixed;*/
        background-size: 50% 100%;
    }

    .link_404 {
        color: #fff !important;
        padding: 10px 20px;
        background: #39ac31;
        margin: 20px 0;
        display: inline-block;
    }

    h1 {
        align-content: center;
        margin: 0;
        padding: 0;
    }

    img {
        position: center;
    }
</style>
@*<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>*@

@if (Model.ShowRequestId)
{
    <section class="page_404">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="text-center">
                        <h1>404</h1>
                        <p>
                            <strong>Request ID:</strong> <code>@Model.RequestId</code>
                        </p>
                        <img src="https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif" />
                        <h3>Parece que estas perdido</h3>
                        <p>¡La página que está buscando no está disponible!</p>
                        <a href="/" class="link_404"> Ir a Home</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
}