html {
    font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
    position: relative;
    min-height: 100%;
}

header .fontLogo {
    height: 100%;
    background-repeat: no-repeat;
    background: url(../img//fondo4.jpg) no-repeat center center fixed;
    background-size: 100% 100%;
}

body {
    height: 100%;
    background-repeat: no-repeat;
    background: url(../img//fondo4.jpg) no-repeat center center fixed;
    background-size: 100% 100%;
}
label {
    color:#000000;
}
.formulario label {
    color: #ffffff;
}

/*Login and register Layout*/
.btn-layout {
    margin-left: .5rem;
}
@media (max-width: 575px) {
    .btn-layout {
        width: 35%;
        margin: 1rem auto 0rem auto;
    }
}

/*Index account*/
@media (max-width: 514px) {
    .btn-transferencia {
        margin-top: .5rem;
    }
}